{% extends "main.html" %} {% block content %}

<div class="jumbotron social">
  <div class="row">
    <div class="col-md-2">
      <img src="/static/FullSizeRender1.jpg" class="img-responsive img-circle" height="112" width="188">
    </div>
    <div class="col-md-9 col-md-offset-1">
      <div class="col-md-5">
        <h2>Contact Me Via:</h2>
        <a class="zocial linkedin" href="https://www.linkedin.com/in/ivan-perun/">LinkedIn</a>
        <a class="zocial github" href="https://github.com/iperun">Github</a>
      </div>
      <div class="col-md-7">
        <h2>Email Me At:</h2>
        <a href="mailto:peruni101@gmail.com" id=email>peruni101@gmail.com</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
